

.table{
   cursor: pointer;
}

.table-active {
  background-color: #f4f6fc ;
  z-index: 1;
}

.selectBar {
  width: 0.35rem;
  height: 1.6rem;
  background-color: #fff;
  border-radius: 0.3rem;
}

.selectBar-active {
  width: 0.35rem;
  height: 1.6rem;
  background-color: #3673da;
  border-radius: 0.3rem;
}
.tableName-active {
  color:#3673da
}
