@import 'antd/dist/antd.css';


.header {
  padding: 0;
  background-color: white;
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  width: 10%;
  background-color: #3573db;
}